* {
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
    background-color: green;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

header {
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    letter-spacing: 4vmin;
    color: #852928;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
    padding-top: 3vmin;
    margin-bottom: 0.5px;
    color: #dfdcd8;
}

input{
    background-color: #852928;
    color: #dfdcd8;
    font-family: 'Inconsolata', monospace;
    font-size: 2.5vmin;
}

button {
    background-color: #852928;
    color: #dfdcd8;
    font-family: 'Inconsolata', monospace;
    font-size: 32px;
    border-radius: 5vmin;
}

.game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.betting-area {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: space-evenly;
    gap: 10px 30px;
    color: #dfdcd8;
    font-size: 24px;
}

#chips{
    font-size: 20px;
    margin-top: 0.5px
}

#bet-button {
    font-size: 20px;
}

.deck {
    margin-right: 1000px;
}