* {
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
    background-color: green;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    letter-spacing: 2vmin;
    font-weight: bold;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
    padding-top: 4vmin;
}

.gameArea {
    display: flex;
    border: 4px solid black;
}

.gameButtons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bettingArea {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: space-evenly;
}

.bet {
    flex-shrink: 5;
}